*{
	padding: 0px;
	margin: 0px;
	font-family: sans-serif;
	text-decoration: none;
}
html{
	scroll-behavior: smooth;
	transition: 1sec;
}
.header{
	width: 100%;
	top: 0px;
	position: fixed;
	background-color: #FFFFFF;
}
.header-mid{
	width: 1470px;
	margin: auto;
	display: flex;
	align-items: center;

	
}
.header-logo{
	width: 25%;
	margin: 0px 25px;
}
.header-menu{
	width: 70%;
}
.header-menu ul{
	display: flex;
	justify-content: space-between;
	color: #004282;
	align-items: center;
	font-size: 14px;
	font-weight: bold;
	list-style: none;
}
.online{
	display: flex;
	padding: 10px 30px;
	justify-content: space-around;
	align-items: center;
	background-color: green;
}
.call{
	padding: 10px 30px;
	color: orange;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border: 2px solid orange;
}
.Social-Links{
	width: 45px;
	gap: 10px;
	display: flex;
	position: fixed;
	right: 10px;
	flex-direction: column;
	justify-content: space-between;
	padding-top: 200px;
}
.banner{
	width: 100%;
	display: flex;
	height: 85vh;
	background: url("images/banner1.jpg") center;
	background-size: cover;
	margin-top: 80px;
}
#Free-site{
	width: 100%;
	height: 200px;
	background-color: #306598;
}
.Free-site-mid{
	width: 1120px;
	margin: auto;
	padding-top: 20px;
}
.Free-site-mid h3{
	padding: 15px;
	font-size: 30px;
	font-weight: 400;
	color: white;	
}
.inputType{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.inputTag{
	width: 250px;
	height: 50px;
}
.inputType button{
	background-color: #409f40;
	color: white;
}
.smart-City{
	width: 100%;
	height: 300px;
	background-color: #F3F3F3;
}
.smart-City-mid{
	width: 1120px;
	margin:auto;
	text-align: center;
}
.smart-City-mid h1{
	padding-top: 35px;
	color: #306598;
}
.smart-City-mid p{
	padding: 20px;
	font-weight: 400;
}
.Projecr-Overview{
	width: 100%;
}
.Project-Overview-mid{
	width: 1120px;
	margin: auto;
	display: flex;
	padding: 30px 0px;
	justify-content: space-between;
}
.image{
	flex-basis: 45%;
	padding: 50px 0px;
}
.content{
	flex-basis: 50%;
	padding-top: 60px;
	padding-left: 30px;
}
.content ul{
	padding-left: 10px;
}
.content>h1{
	color: #306598;
	padding-bottom: 20px;
}
.content>p{
	line-height: 30px;
	font-size: 14px;
	font-weight: 400;
}
.book-now{
	background-color: green;
	border: 1px solid white;
	margin-right: 400px;
	margin-top: 20px;
	padding: 10px;
	text-align: center;
	list-style: none;
}
#plot-Overview{
	width: 100%;
	background-color: #F8F8F8;
}
.plot-Overview-head{
	width: 100%;
	background-color: #F8F8F8;
	text-align: center;
}
.plot-Overview-head h1{
	padding-top: 70px;
	text-align: center;
	color: #306598;
}
.plot-Overview-head p{
	text-align: center;
	line-height: 25px;
	font-weight: 400;
	padding-top: 30px;
	background-color: #F8F8F8;
}

.plot-Overview-mid{
	width: 1170px;
	margin: auto;
	padding-top: 50px;
	display: flex;
}
.plot-Left{
	flex-basis: 32%;
	padding-top: 70px;
}
.plot-Left-mid{
	width: 90%;
	margin-left: 20px;
	display: flex;
	align-items: center;
	padding-top: 10px;
	text-align: left;
}
.plot-Left-content{
	padding-left: 35px;
	font-size: 20px;
	font-weight: bold;
}
.plot-middle{
	flex-basis: 32%;
}
.plot-right{
	flex-basis: 34%;
	padding-top: 70px;
}
.plot-right-mid{
	width: 95%;
	margin-right: 0px ;
	display: flex;
	align-items: center;
	padding-top: 10px;
	text-align: left;
}
.plot-right-content{
	padding-right: 35px;
	font-size: 20px;
	font-weight: bold;
}
#Approved-Project{
	width: 100%;
	margin: auto;
	padding-top: 40px;
	text-align: center;
}
.Approved-Project-head{
	width: 1170px;
	margin: auto;
}
.Approved-Project-head p{
	padding: 20px 0px;
	font-weight: 400;
	text-align: left;
}
.Approved-Project-head hr{
	text-align: center;
}
.Approved-Project-mid{
	width: 1170px;
	margin: auto;
	padding: 20px 0px;
}
.Approved-Project-head h3{
	padding: 20px;
	font-weight: 400;
}
.Approved-Project-mid p{
	text-align: left;
	font-weight: 400;
	padding-top: 25px 0px;
	line-height: 25px;
	font-size: 15px;
}
.Approved-Project-head h4{
	text-align: left;
	font-weight: 400;
	font-weight: bold;
}
.Approved-Project-mid-image{
	width: 1170px;
	margin: auto;
	padding: 20px 0px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.Approved-Project-mid-image P{
	font-size: 25PX;
	font-weight: 400;
}
.mid-image{
	flex-basis: 22%;
	height: 240px;
	box-shadow: 0px 0px 10px 3px #ccc;
}
.mid-image img{
	padding-top: 32px;
}
.mid-image h5{
	font-size: 20px;
	font-weight: 400;
}
#price-List{
	width: 100%;
}
#pricelist{
	width: 100%;
}
.pricelist-mid{
	width: 1170px;
	margin: auto;
	text-align: center;
}
.pricelist-mid h1{
	color: #306598;
	padding: 30px;
}
.pricelist-mid h4{
	padding-top: 20px;
	color: #306598;
	font-weight: 400;
}
.plot-Price{
	width: 1000px;
	padding: 20px 40px;
	display: flex;
	justify-content: space-around;
	margin: auto;
	text-align: center;	
}
.head{
	width: 400px;
	height: 60px; 
	background-color: #306598; 
	color: white;
}
.plot-size-price{
	height: 50px;
	width: 60px;
}
.mid-image2{
	width: 1000px;
	background-size: cover;
	margin: auto;
	text-align: center;
	padding: 50px 0px;
}
.Highlights-of-Smartcity{
	max-width: 100%;
}
.Highlights-of-Smartcity h1{
	padding: 50px 0px;
	text-align: center;
	color: #306598;
}
.Highlights-of-Smartcity-mid{
	width: 1320px;
	margin: auto;
	padding: 20px 0px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.Highlights-of-Smartcity-mid-Items{
	flex-basis: 33%;
	text-align: center;
	padding: 25px 0px;
}
.Highlights-of-Smartcity-mid-Items h5{
	font-size: 14px;
	text-align: center;
	padding: 15px 0px;
	font-weight: 400;
}
.Book-Site-Visit{
	width: 300px;
	margin: auto;
	margin-top: 40px;
	font-size: 25px;
	padding: 15px 5px;
	text-align: center;
	background-color: #CE9600;
	border-radius: 10px;
}
.experience-Location{
	width: 100%;
}
.experience-Location-mid{
	width: 1170px;
	margin: auto;
	padding: 40px 0px;
	display: flex;
	justify-content: space-between;
}
.experience-Location-mid-Items{
	flex-basis: 45%;
}
.experience-Location-mid-Items iframe{
	width: 100%;
	height: 300px;
}
.experience-Location h1{
	font-size: 30px;
	color: #306598;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 20px;
}
.experience-Location p{
	font-weight: 400;
}
#Site-Plan{
	width: 100%;
}
.Site-Plan h1{
	padding: 30px 0px;
	text-align: center;
	color: #306598;
}
.Site-Plan p{
	font-weight: 400;
}
.Site-Plan-mid{
	width: 800px;
	padding: 50px 0px;
	margin: auto;
}
#Location{
	width: 100%;
}
.Location h1{
	padding: 30px 0px;
	text-align: center;
	color: #306598;
}
.Location p{
	font-weight: 400;
}
.Location-mid{
	width: 800px;
	padding: 50px 0px;
	margin: auto;
}
.Landmarks{
	width: 100%;
}
.Landmarks h1{
	padding: 30px 0px;
	text-align: center;
	color: #306598;
}
.Landmarks-mid{
	width: 1000px;
	padding: 50px 0px;
	margin: auto;
}
.Landmarks-mid h4{
	font-size: 20px;
	font-weight: 400;
	padding: 20px 0px;
}
.Ameneties{
	width: 100%;
}
.Ameneties p{
	font-weight: 400;
}
.Ameneties h1{
	padding: 50px 0px;
	text-align: center;
	color: #306598;
}
.Ameneties-mid{
	width: 1000px;
	padding: 50px 0px;
	margin: auto;
	display: flex;
}
.Ameneties-mid-Items{
	flex-basis: 19%;
	flex-grow: 1;
	padding: 10px 0px;
	text-align: center;
}
.Faqs{
	width: 100%;
}
.Faqs h1{
	padding-top: 60px;
	text-align: center;
	color: #306598;
}
.Faqs p{
	padding: 20px 0px;
	font-weight: 400;
}
.Faqs-mid{
	width: 1000px;
	padding: 50px 0px;
	margin: auto;
}
.Faqs h4{
	font-size: 20px;
	font: normal;
	padding: 20px 0px;
	font-weight: 400;
}
#Project-Gallery{
	width: 100%;
}
.Project-Gallery h1{
	padding-top: 80px;
	color: #306598;
	text-align: center;
}
.Project-Gallery-mid{
	width: 1170px;
	margin: auto;
	padding-top: 50px;
	padding-left: 20px;
	display: flex;
	flex-wrap: wrap;
	gap: 25px;
}
.Project-Gallery-Items{
	width: 23%;
}
.Loan{
	width: 100%;
}
.Loan h1{
	color: #306598;
	padding-top: 100px;
	text-align: center;
}
.Loan p{
	font-weight: 400;
	text-align: center;
	padding: 20px 0px;
}
.Loan-mid{
	width: 1170px;
	margin: auto;
	display: flex;
	flex-grow: 1;
	justify-content: space-between;
	text-align: center;
	padding-bottom: 70px;
}
.LoanImage{
	flex-basis: 15%;
	border: 1px solid #ccc;
	padding: 25px 0px;
	box-shadow: 0px 0px 10px 3px #ccc;
	
}
.Schedule{
	width: 100%;
	background-color: #F3F3F3;
	padding: 50px 0px;
}
.Schedule-mid{
	width: 1170px;
	margin: auto;
	display: flex;
	border: 6px solid  #306598;
	justify-content: space-between;
}
.Schedule-Left{
	flex-basis: 50%;
	
}
.Schedule-Left img{
	padding: 14px;
}
.Schedule-Right{
	flex-basis: 50%;
	align-items: center;
	padding: 14px;
}
.Schedule-Right h1{
	padding-top: 70px;
	color: #306598;
}
.Schedule-Right p{
	font-weight: 400;
	padding-top: 20px;
	line-height: 30px;
	padding-bottom: 20px;
}
.Schedule-Right button {
	width: 250px;
	padding: 15px;
	background-color: green;
	font-size: 20px;
	text-align: center;
	color: white;
}
#footer{
	width: 100%;
	background-color: #306598;
}
.footer-mid{
	width: 1320px;
	margin: auto;
	padding: 100px;
	display: flex;
	justify-content: space-between;
}
.footer-left {
	flex-basis: 35%;
	text-align: right;
}
.footer-left h2{
	color: white;
	line-height: 45px;
}
.footer-right {
	flex-basis: 35%;
	text-align: center;
}
.footer-right h5{
	color: white;
	font-size: 20px;
}
.footer-right p{
	color: white;
	font-size: 15px;
	line-height: 35px;
	font-weight: 400;
}
.footerbottom{
	font-weight: 400;
	color: #C6D4E2;
	line-height: 25px;
	text-align: center;
	padding-bottom: 150px;
}